<div id="messages" hx-swap-oob="beforeend">
  <div class="flex flex-row first:mt-0 first:mb-2 my-2">
    {% if is_bot %}
    <div class="bg-slate-700 rounded-lg max-w-3xl py-3 px-4">{{ message }}</div>
    <div class="flex-1"></div>
    {% else %}
    <div class="flex-1"></div>
    <div class="bg-slate-500 rounded-lg max-w-3xl py-3 px-4">{{ message }}</div>
    {% endif %}
  </div>
</div>
<form id="chat-form" hx-swap-oob="innerHTML">
  <div class="flex-1 flex flex-row rounded-lg bg-slate-700"> 
    <input id="chat-input" type="text" name="message" class="bg-slate-900 text-white text-lg flex-1 p-4 outline-none bg-transparent" required autofocus autocomplete="off"></input>
    <button type="submit" class="flex flex-row items-center justify-center p-3 outline-none"><span class="material-symbols-outlined">send</span></button>
  </div>
</form>
